@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Strawford';
  font-style: normal;
  font-weight: 100;
  src: url('fonts/strawford/strawford-thin-webfont.woff2') format('woff2'),
       url('fonts/strawford/strawford-thin-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Strawford';
  font-style: normal;
  font-weight: 200;
  src: url('fonts/strawford/strawford-extralight-webfont.woff2') format('woff2'),
       url('fonts/strawford/strawford-extralight-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Strawford';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/strawford/strawford-light-webfont.woff2') format('woff2'),
       url('fonts/strawford/strawford-light-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Strawford';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/strawford/strawford-regular-webfont.woff2') format('woff2'),
       url('fonts/strawford/strawford-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Strawford';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/strawford/strawford-medium-webfont.woff2') format('woff2'),
       url('fonts/strawford/strawford-medium-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Strawford';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/strawford/strawford-bold-webfont.woff2') format('woff2'),
       url('fonts/strawford/strawford-bold-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Strawford';
  font-style: normal;
  font-weight: 900;
  src: url('fonts/strawford/strawford-black-webfont.woff2') format('woff2'),
       url('fonts/strawford/strawford-black-webfont.woff') format('woff');
}

body * {
  transition: all 0.2s ease;
  font-family: 'Strawford', sans-serif;
  background-color: rgba(0,0,0,0);

  &:focus {
    outline: none;
  }
}

body {
  background-color: #F7F9F9;
}